@page "/"

<PageTitle>New-dev0</PageTitle>

<div align="center" class="justify-content-center align-self-center">
<RadzenCard Style="width:fit-content; border-bottom-left-radius:40px; border-top-right-radius:40px; border-style:dotted" class="align-items-center">
	<RadzenImage Path="https://avatars.githubusercontent.com/u/69723581" class="rounded-circle" Style="width:280px; height:280px; pointer-events:none"/>
	<hr style="width:200px; color:darkturquoise">
	<h3><b>Devesh Pal</b></h3>
	</RadzenCard>
</div>