@page "/"

<PageTitle>New-dev0</PageTitle>

<div class="flex align-self-center">
<RadzenCard class="align-content-center">
	<RadzenImage Path="https://avatars.githubusercontent.com/u/69723581" class="rounded-circle" Style="width:100px; height:100px;"/>
	<h3><b>Devesh Pal</b></h3>
	</RadzenCard>
</div>