@page "/"

<PageTitle>New-dev0</PageTitle>

<div align="center" class="justify-content-center align-self-center">
<RadzenCard Style="width:fit-content; border-bottom-left-radius:40px; border-top-right-radius:40px; border-style:dotted; margin-top:5px;" class="align-items-center">
	<RadzenImage Path="https://avatars.githubusercontent.com/u/69723581" class="rounded-circle" Style="width:280px; height:280px; pointer-events:none"/>
	<hr style="width:200px; color:darkturquoise">
	<h3><b>Devesh Pal</b></h3>
	<p><RadzenButton Style="width:fit-content;height:fit-content; align-content:center; padding:2px; border-radius:50%;background-color:lightblue;border-color:black; margin-right:20px;">
		<a href="https://t.me/KarbonCopy"><RadzenImage class="footr" Style="width:40px;height:40px;" Path="https://telegram.org/img/t_logo.png">
			</RadzenImage></a>
		</RadzenButton>

		<RadzenButton Style="width:fit-content;height:fit-content; align-content:center; padding:3px; border-radius:50%;background-color:white;border-color:black; margin-right:20px;">
		<a href="https://github.com/New-dev0"><RadzenImage class="footr" Style="width:40px;height:40px" Path="https://pngimg.com/uploads/github/github_PNG40.png">
			</RadzenImage></a>
		</RadzenButton>

		<RadzenButton Style="width:fit-content;height:fit-content; align-content:center;padding:4px; border-radius:50%;background-color:white;border-color:black">
		<a href="https://twitter.com/New-dev0"><RadzenImage class="footr" Style="width:35px;height:35px" Path="https://uploads-ssl.webflow.com/60bff85847fa8a72a29a81f2/60c68fd5582c35733bc2f596_Twitter_Bird.svg-p-800.png">
			</RadzenImage>
			</a>
		</RadzenButton>
		</p>	
	</RadzenCard>
</div>