@page "/"

<PageTitle>New-dev0</PageTitle>

<div class="flex jusitfy-content-center center">
<RadzenCard Style="width:fit-content; align-content:center">
	<RadzenImage Path="https://avatars.githubusercontent.com/u/69723581" class="rounded-circle" Style="width:300px; height:300px;"/>
	<h3><b>Devesh Pal</b></h3>
	</RadzenCard>
</div>