@page "/tgtwitterbot"

<PageTitle>TGTwitterBot</PageTitle>

<div align="center">
   
    <RadzenLabel Text="TgTwitterBot" Style="font-size:40px;" /><br />
    <RadzenImage class="w-25 h-25" Style="pointer-events:none;" Path="https://raw.githubusercontent.com/New-dev0/TgTwitterBot/main/logo.png"></RadzenImage>
</div>


<h3 id="local-deploy">Local Deploy</h3>
<RadzenCard>
    <li>Clone the Github Repo.<br>
        <code>git clone https://github.com/New-dev0/TgTwitterBot.git<br>cd TgTwitterBot</code>
    </li>
    <li>Install Requirements<br><code>pip install -r requirements.txt</code></li>
    <li>Start The Bot<br><code>python -m twitterbot</code></li>
</RadzenCard>

@code {

}
