@page "/tgtwitterstreamer"

@inject NavigationManager NavManager

<PageTitle>TGTwitterStreamer</PageTitle>

<div align="center">
   
    <RadzenLabel Text="TgTwitterStreamer" Style="font-size:40px;" /><br />
    <RadzenImage Style="pointer-events:none; width:280px;height:280px;" Path="https://raw.githubusercontent.com/New-dev0/TgTwitterBot/main/logo.png"></RadzenImage>
    <br /><i>Telegram - Twitter - Bot</i>
    <br /><img alt="GitHub forks" src="https://img.shields.io/github/forks/New-dev0/TgTwitterStreamer?style=social">
     <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/New-dev0/TgTwitterStreamer?style=social">
    <br />-----------------
</div>

<br />
<TgTwitterDeploymentGuide />
<br />

<RadzenCard id="local-deploy" class="dnote-box py-3" @onclick="(() => Navigate(0))">
    <h2><b># Deploying Locally</b></h2>
    </RadzenCard>
<RadzenCard>
    <li>Clone the Github Repo.<br>
        <code>git clone https://github.com/New-dev0/TgTwitterStreamer.git<br>cd TgTwitterBot</code>
    </li>
    <li>Install Requirements<br><code>pip install -r requirements.txt</code></li>
    <li>Start The Bot<br><code>python -m tgtwitterstreamer</code></li>
</RadzenCard>

@code {

    void Navigate (int num)
    {
        string path;
        switch (num)
        {
            case (0):
                path = "#local-deploy";
                break;
            default:
                path = "";
                break;
        }
        NavManager.NavigateTo(NavManager.Uri.Split('#')[0] + path, true);
    }
}
