@page "/twitter"

<PageTitle>Twitter Downloader</PageTitle>

<div align="center">
    <RadzenCard Style="width:fit-content;padding:15px;align-content:center; align-items:center;">
        <p style="align-content:flex-start;">
            @*<RadzenImage Path="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" Style="pointer-events:none;width:35px;height:35px;margin-top:-10px;" />*@
            <RadzenLabel Style="font-size:35px;text-decoration:wavy;margin-top:2px;" Text="Twitter Downloader" /><br />
            </p>
            <hr style="width:200px;margin-top:20px;" align="center">
        <div>
        <p style="font-size:18px;text-align:left; margin-top:10px;">You can use this Twitter Downloader tool to download any or all medias from the tweet.<br />
            Just enter the tweet url in below box and click Download Button.</p>
        <RadzenTextBox  Style="margin-top:20px;" Placeholder="Paste your tweet url here." class="py-4 px-2"></RadzenTextBox><br />
        <RadzenButton Style="width:fit-content;margin-top:12px;" class="px-5"  ButtonStyle="ButtonStyle.Secondary" Text="Download"></RadzenButton>
        </div>
    </RadzenCard>
</div>

@code {

}

