@page "/twitter"

<PageTitle>Twitter Downloader</PageTitle>

<div align="center">
    <RadzenCard Style="align-content:center;width:fit-content;padding:15px,15px,15px,0;">
        <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" style="pointer-events:none;width:35px;height:35px;margin-left:-360px;margin-top:25px;">

            <h1 style="font-size:38px;margin-top:-39px;margin-left:20px;">Twitter Downloader</h1><br />
            <hr style="width:200px;margin-top:-20px;" align="center">
        </div>
        <div>
        <h5 style="text-align:left; margin-top:10px;">You can use this Twitter Downloader tool to download any or all medias from the tweet.<br />
            Just enter the tweet url in below box and click Download Button.</h5>
        <RadzenTextBox Placeholder="Paste your tweet url here."></RadzenTextBox>
        <RadzenButton Style="width:fit-content;" ButtonStyle="ButtonStyle.Secondary" Text="Download"></RadzenButton>
        </div>
    </RadzenCard>
</div>

@code {

}
