<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <RadzenHeading Text="New-Dev0" Style="padding-top:10px; padding-bottom:10px;"/>
            </a>
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </RadzenButton>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <RadzenDropDown class="oi oi-home" TValue="string" Placeholder="Projects">
            </RadzenDropDown>
                
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
