<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <RadzenHeading Text="New-Dev0" Style="padding-top:10px; padding-bottom:10px;"/>
            </a>
        <RadzenButton Style="background:#ab8dba;" Text="Projects" Click="ToggleNavMenu"/>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tgtwitterbot" Match="NavLinkMatch.All">
                <RadzenButton Style="background-color: #a563db">TgTwitterBot</RadzenButton>
            </NavLink>
            <NavLink class="nav-link" href="/tgtwitterstreamer" Match="NavLinkMatch.All">
                <RadzenButton Style="background-color: #a563db">TgTwitterStreamer</RadzenButton>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
