@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <div class="topbar">
            <NavMenu />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Footer />
    </main>
</div>
