.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.topbar {
    top: 0;
    width: 100vh;
    height: 250px;
    background-color: whitesmoke;

}