@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="topbar">
            <Header />
        </div>
        <article class="content px-4" style="margin-bottom:100px;">
            @Body
        </article>
        <Footer />
    </main>
</div>

