.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* background: url("https://images.unsplash.com/photo-1618472609777-b038f1f04b8d"), repeat-x, top;
    */

.topbar {
    top: 0;
    width: 100%;
    height: fit-content;
    background: url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e"), repeat-x, top;
}