
.card {
    color: black;
    width: 60vh;
    max-width: 100%;
    min-width: 60vh;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 1rem;
    margin: 0.8rem 0;
}

.card h2 {
    margin-left: 1rem;
}

.card li{
    margin-top: 1rem;
}

.card code {
    color: purple;
    background-color: rgb(235, 235, 190);
    padding: 5px;
    border-radius: 15px;
}

.heading {
    text-decoration: underline;
}

.timage {
    background-color: white;
    border-radius: 50%;
    padding: 40px;
}